<body class="body">


<header class="hero">
  <div class="container">
    <div class="row">
      <nav class="navbar justify-content-between">
        <span class="navbar__name navbar-brand">Артем Исламов</span>
        <div class="social">
          <a href="#" class="social__icon icon-vkontakte"></a>
          <a href="#" class="social__icon icon-youtube-play"></a>
          <a href="#" class="social__icon icon-instagram"></a>
        </div>
      </nav>
    </div>

    <div class="row description">
      <div class="description__text col-xl-6 col-md-12">
        <p class="subtitle">Предпродажа книги</p>
        <h2 class="title">Путь Фрилансера</h2>
        <p class="text">Закажите книгу сейчас и&nbsp;получите печатный вариант из&nbsp;первого тиража с&nbsp;подписью
          от&nbsp;автора
          книги.</p>
        <p class="price-title">Цена</p>
        <p class="price">790&nbsp;руб.</p>

        <div class="buttons">
          <button class="btn mod-green">Заказать книгу</button>
          <button class="btn mod-violet">Слушать отрывок</button>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12 text-center">
        <img src="assets/img/lesson8/books.png" alt="" class="description__img">
      </div>
    </div>
  </div>
  <!-- /.container -->
</header>

<section class="about">
  <div class="container">
    <p class="subtitle">О&nbsp;чём книга</p>
    <h2 class="title">Путь Фрилансера</h2>

    <div class="about__card row">
      <div class="card col-xl-3 col-md-6 col-sm-12"><img src="assets/img/lesson8/icon-1.svg" alt="icon-1" class="card__icon mod-img"><span
          class="card-text">Главного героя книги зовут Антон. Он&nbsp;работает обычным продавцом в&nbsp;спортивном магазине. Антон решает стать фрилансером и&nbsp;работать на&nbsp;себя. В&nbsp;этом ему помогает его наставник Дима.</span>
      </div>
      <div class="card col-xl-3 col-md-6 col-sm-12"><img src="assets/img/lesson8/icon-2.svg" alt="icon-2" class="card__icon"><span
          class="card-text">Сможет&nbsp;ли Антон освоить новую профессию и&nbsp;преодолеть все трудности, которые ждут его на&nbsp;этом пути? Ответ вы&nbsp;найдёте на&nbsp;страницах книги, пройдя весь путь вместе с&nbsp;главным героем книги.
</span></div>
      <div class="card col-xl-3 col-md-6 col-sm-12"><img src="assets/img/lesson8/icon-3.svg" alt="icon-3" class="card__icon"><span
          class="card-text">Книга написана в&nbsp;формате истории, но&nbsp;разбираются в&nbsp;ней вполне реальные примеры из&nbsp;жизни фрилансеров: сколько денег просить за&nbsp;работу, как формировать портфолио, где искать наставников и&nbsp;т.д.</span>
      </div>
      <div class="card col-xl-3 col-md-6 col-sm-12"><img src="assets/img/lesson8/icon-4.svg" alt="icon-4" class="card__icon"><span
          class="card-text">Выпуск книги запланирован на&nbsp;конец весны 2019&nbsp;года. Сейчас вы&nbsp;можете заказать печатный вариант с&nbsp;подписью и&nbsp;пожеланием от&nbsp;автора.
</span>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

<section class="people">
  <div class="container">
    <p class="subtitle">Эти люди уже</p>
    <h2 class="title">Заказали книгу</h2>

    <div class="people__cards row pt-5">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-1.jpg" alt="icon-1"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-2.jpg" alt="icon-2"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-3.jpg" alt="icon-3"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-4.jpg" alt="icon-4"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-5.jpg" alt="icon-5"></div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3"><img class="people__img" src="assets/img/lesson8/photo-6.jpg" alt="icon-6"></div>
    </div>
  </div>
  <!-- /.container -->
</section>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-4 col-sm-12">
        <span class="footer__title">Реквизиты</span>
        <div class="footer__descr">
          <span>ИП Исламов Артем Данисович</span>
          <span>ИНН 026408036102</span>
          <span>ОГРНИП 318028000152678</span>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12">
        <span class="footer__title">Информация</span>
        <div class="footer__descr">
          <a href="#">Политика конфиденциальности</a>
          <a href="#">Оферта сайта</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4 col-sm-12">
        <span class="footer__title">Контакты</span>
        <div class="footer__descr">
          <a href="#">book@islamov-artem.ru</a>
          <a href="#">vk.com/aislam23</a>
          <a href="#">t.me/aislam23</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>

</body>