<div class="button-wrap">
  <div v-if="check" class="invalid-text"><span>Не заполнены поля</span></div>
  <button onclick="ym(51856894, 'reachGoal', 'button'); return true;" {{ attr }} type="{{ type }}" class="button {{ class }}">{{ text }}</button>
</div>