<section class="offer">
  <div class="container offer__container">

    <form class="offer__block" onsubmit="ym(51860368, 'reachGoal', 'form'); return true;">
      <h2 class="offer__title">Мы&nbsp;бесплатно разработаем
        дизайн-проект Вашего жилья
        и&nbsp;реализуем его!
      </h2>

      <span class="offer__subtitle">
      Оставьте заявку на разработку
      бесплатного дизайн-проекта!
    </span>

      {% include '../inputs/inputs.twig' with {
        class: 'offer__inputs'
      }%}

      {% include '../button/button.twig' with {
        class: 'offer__button',
        text: 'Получить бесплатный дизайн-проект',
        type: 'submit',
        attr: '@click.prevent="submitFormOffer()"'
      }%}

      <div class="offer__feedback">
        <span>Наш менеджер перезвонит Вам в&nbsp;течение 60&nbsp;секунд</span>
        <div class="mod-right">
          <span>или перезвоните нам сами</span>
          <span class="mod-phone">+7 (495) 42-251-31</span>
        </div>
      </div>
    </form>
  </div>
  <img src="assets/img/practic/offer-bg.jpg" alt="" class="offer__bg">
</section>