<section class="help">
  <div class="container">
    <div class="help__block">

      <div class="help__item">
        <p>Поможем закупить все материалы
          по&nbsp;оптовым ценам у&nbsp;проверенных поставщиков
        </p>
        <img data-src="assets/img/practic/help-1.jpg" class="js-lazy" alt=""></div>
      <div class="help__item">
        <p>Мы&nbsp;дадим Вам <strong>максимальные скидки</strong>
          у&nbsp;наших партнеров для закупки материалов оптом
        </p>
        <img data-src="assets/img/practic/help-2.jpg" class="js-lazy" alt=""></div>
      <div class="help__item">
        <p>Все, что не&nbsp;сможете найти в&nbsp;городе -
          поможем заказать <strong>у&nbsp;проверенных
            поставщиков</strong>
        </p>
        <img data-src="assets/img/practic/help-3.jpg" class="js-lazy" alt=""></div>

    </div>
  </div>
</section>