<section class="help">
  <div class="container">
    <div class="help__block">

      <div class="help__item">
        <p>Поможем закупить все материалы
          по оптовым ценам у проверенных поставщиков
        </p>
        <img src="assets/img/practic/help-1.jpg" alt=""></div>
      <div class="help__item">
        <p>Мы дадим Вам <strong>максимальные скидки</strong>
          у наших партнеров для закупки материалов оптом
        </p>
        <img src="assets/img/practic/help-2.jpg" alt=""></div>
      <div class="help__item">
        <p>Все, что не сможете найти в городе -
          поможем заказать <strong>у проверенных
            поставщиков</strong>
        </p>
        <img src="assets/img/practic/help-3.jpg" alt=""></div>

    </div>
  </div>
</section>