.button-up {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #ffd200;
  font-family: "Museo Sans Cyrl -700", sans-serif;
  font-size: 13px;
  &:hover {
    background-color: lighten(#ffd200, 10%);
    cursor: pointer;
  }
}