<section class="price">


  <div class="container">
    <div class="price__block">
      {% include '../title/title.twig' with {
        text: 'У нас очень гибкая система скидок<br> на комплексные работы!',
        class: 'price__title'
      } %}

      <div class="subtitle">
        Прайс на наши услуги
      </div>

      <div class="price__items">
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-1.jpg" alt=""></div>
          <p class="price__text">Ремонт ванных комнат и с/у</p>
          <a href="" class="price__link">Узнать цены</a></div>
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-2.jpg" alt=""></div>
          <p class="price__text">Ремонт комнат и квартир</p>
          <a href="" class="price__link">Узнать цены</a></div>
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-3.jpg" alt=""></div>
          <p class="price__text">Отделка офисных помещений</p>
          <a href="" class="price__link">Узнать цены</a></div>
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-4.jpg" alt=""></div>
          <p class="price__text">Ремонт в новостройках</p>
          <a href="" class="price__link">Узнать цены</a></div>
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-5.jpg" alt=""></div>
          <p class="price__text">Ремонт кухонь</p>
          <a href="" class="price__link">Узнать цены</a></div>
        <div class="price__item">
          <div class="price__img"><img src="assets/img/practic/item-6.jpg" alt=""></div>
          <p class="price__text">Ремонт дач и коттеджей</p>
          <a href="" class="price__link">Узнать цены</a></div>
      </div>


    </div>

  </div>

</section>
