* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  padding-top: 76px;
}

.book {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 97px;
}
.book__cover {
  max-width: 404px;
  width: 100%;
  margin-left: -117px;
}
@media screen and (max-width: 1180px) {
  .book__cover {
    margin-left: 0;
  }
}
.book__description {
  max-width: 527px;
  width: 100%;
  margin-left: 71px;
}
.book__title {
  color: black;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: -23px;
}
.book__second-title {
  font-size: 30px;
  color: black;
}
.book__text {
  color: black;
  font-size: 18px;
  line-height: 27px;
}
.book__price {
  color: #313131;
  font-size: 48px;
  line-height: 27px;
  margin-bottom: 67px;
}

.book__buttons {
  max-width: 502px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  max-width: 175px;
  width: 100%;
  height: 67px;
  border-radius: 5px;
  background-color: #f05a22;
  outline: none;
  border: none;
  cursor: pointer;

  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}
.mod-discover {
  max-width: 287px;
  border: 2px solid #f05a22;
  background-color: transparent;
  color: #f05a22;
}

.title {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  font-family: Tahoma, Arial, sans-serif;
  margin-bottom: 94px;
}
.mod-bottom {
  margin-bottom: 74px;
}
.conditions {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 0 70px;
}
.conditions__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin-bottom: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  max-width: 230px;
  width: 100%;
}
.card:first-child .card__img{
  margin-bottom: -10px;
}
.card:last-child .card__text{
  width: 90%;
}
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

.people__faces {
  max-width: 1137px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.people__img {
  margin-bottom: 40px;
}