* {
  box-sizing: border-box;
}
body {
  color: #32325f;
}

.title {
  font-size: 48px;
  font-weight: 700;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 16px;
}

.hero {
  background-color: #f4f5f7;
  padding-bottom: 191px;
}

p {
  margin-bottom: 0.9rem;
}

.navbar {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 150px;

  &__name {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #95989a;
  }
  .social {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 115px;
    width: 100%;
    &__icon {
      color: #95989a;
      &:hover {
        text-decoration: none;
      }
    }

    &__icon:before {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.description {
  &__text {
    .text {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      margin-top: 24px;
    }
    .price {
      color: #525f7f;
      font-size: 48px;
      font-weight: 400;
      margin-top: -6px;
      margin-bottom: 38px;
    }
    .price-title {
      font-size: 20px;

    }
  }
  &__img {
    max-width: 392px;
    width: 100%;
    object-fit: contain;
    margin-left: 130px;
    margin-top: 47px;
    @media screen and (max-width: 1200px - 1px) {
      margin-left: 0;
    }
  }
  .buttons {
    .btn {
      max-width: 214px;
      width: 100%;
      height: 66px;
      box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
      border-radius: 6px;

      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
    .mod-green {
      background-color: #2dce89;
      margin-right: 26px;
      margin-bottom: 5px;
    }
    .mod-violet {
      background-color: #5e72e4;
      max-width: 250px;
    }
  }
}

.about {
  padding-top: 86px;
  align-items: center;
  padding-bottom: 20px;

  &__card {
    margin: 95px 0 102px;

    .card {
      border: none;
      @media screen and (max-width: 1200px - 1px) {
        padding-bottom: 20px;
      }

      &__icon {
        max-width: 86px;
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
  .mod-img {
    max-width: 74px;
  }
}

.people {
  background-color: #f4f5f7;
  padding-top: 90px;
  padding-bottom: 76px;

  &__cards {
    padding-top: 53px;
  }

  &__img {
    margin-bottom: 36px;
    max-width: 362px;
    width: 100%;
    max-height: 254px;
    object-fit: contain;
  }
}

.footer {
  color: white;
  background-color: #32325f;
  align-items: center;
  padding-top: 73px;
  padding-bottom: 112px;
  a {
    color: white;
    display: block;
    line-height: 20px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__descr {
    font-size: 16px;
    font-weight: 700;
    padding-top: 31px;
    span {
      display: block;
      line-height: 20px;
    }
  }

}