body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main {
  background: url('../assets/img/background-book.jpg');
  max-width:  600px;
  width:      100%;
  margin:     0 auto;
  padding:    10px 10px 0;
}

#start {
  padding-top: 0;
}

.chapter {
  position: fixed;
  top: 0;
  background: url('../assets/img/background-book.jpg');
  margin-left: 430px;
  z-index: -1;
}

ul > li {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.crossed {
  text-decoration: line-through;
}

h2 {
  text-align: center;
}