<section class="portfolio">


  <div class="container">
    <div class="portfolio__block">
      {% include '../title/title.twig' with {
        text: 'Работая с 2007 года,<br> мы сделали более 500 ремонтов в квартирах и домах',
        class: ''
      }%}

      {% include '../slider/slider.twig' %}
    </div>

  </div>

</section>

