
<section class="portfolio">


    <div class="container">
      <div class="portfolio__block">
        <div class="b-title">
          <p>Работая с 2007 года,<br>
            мы сделали более 500 ремонтов в квартирах и домах
          </p>
        </div>

        {% include '../slider/slider.twig' %}
      </div>

    </div>

</section>

