<section class="footer">
  <div class="footer__map">

  </div>


  <div class="footer__contacts">

    <div class="footer__block">
      <div class="footer__title">
      <span>
        Приезжайте к нам в гости!
        Проконсультируем Вас
        по&nbsp;всем вопросам ремонта
      </span>
      </div>

      <ul class="footer__list">
        <li class="footer__item">
          <div class="footer__icon">
            <img src="assets/img/practic/footer-icon-1.png" alt="">
          </div>
          <div class="footer__text">
            <p>г. Москва</p>
            <p>ул. Ленинга, д. 10,
              корпус 2, оф. 308</p>
          </div>
        </li>
        <li class="footer__item">
          <div class="footer__icon">
            <img src="assets/img/practic/footer-icon-2.png" alt="">
          </div>
          <div class="footer__text">
            <p>Режим работы:</p>
            <p>с 9:00 до 18:00</p>
          </div>
        </li>
        <li class="footer__item">
          <div class="footer__icon">
            <img src="assets/img/practic/footer-icon-3.png" alt="">
          </div>
          <div class="footer__text">
            <p>Телефон:</p>
            <p>+ 7 (495) 42-251-31</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>