<section class="stages">
  <div class="container">
    <div class="stages__block">

      {% include '../title/title.twig' with {
        text: 'Наши специалисты готовы выехать на замер в&nbsp;любое удобное для Вас время',
        class: 'stages__title',
        subtitle: '5 шагов до ремонта'
      } %}

      <div class="stages__items">
        <div class="stages__item">
          <div class="stages__img"><img src="assets/img/practic/stage-1.png" alt=""></div>
          <span class="stages__text">Вы звоните нам или&nbsp;оставляете&nbsp;заявку
</span></div>
        <div class="stages__item">
          <div class="stages__img"><img src="assets/img/practic/stage-2.png" alt=""></div>
          <span class="stages__text">Согласуем удобное для Вас время выезда специалиста&nbsp;на&nbsp;замер
          </span></div>
        <div class="stages__item">
          <div class="stages__img"><img src="assets/img/practic/stage-3.png" alt=""></div>
          <span class="stages__text">Рассчитываем смету согласовываем с&nbsp;Вами</span></div>
        <div class="stages__item">
          <div class="stages__img"><img src="assets/img/practic/stage-4.png" alt=""></div>
          <span class="stages__text">Подписываем&nbsp;договор закупаем материал по оптовым ценам</span></div>
        <div class="stages__item">
          <div class="stages__img"><img src="assets/img/practic/stage-5.png" alt=""></div>
          <span class="stages__text">Выполняем ремонт в указанные сроки</span></div>
      </div>

    </div>
  </div>
</section>