<body>

<div class="container">
  <div class="row">
    <h2 class="col text-center" style="margin: 70px 0 82px">Почему нужно сделать это сейчас?</h2>
  </div>

  <div class="row">
    <div class="col-12 order-4 order-sm-1 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-1.png" alt="icon-1.png">
      <p>Первое преимущество</p>
    </div>
    <div class="col-12 order-2 order-sm-2 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-2.png" alt="icon-2.png">
      <p>Второе преимущество</p>
    </div>
    <div class="col-12 order-3 order-sm-3 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-3.png" alt="icon-3.png">
      <p>Третье преимущество</p>
    </div>
    <div class="col-12 order-1 order-sm-4 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-4.png" alt="icon-4.png">
      <p>Четвертое преимущество</p>
    </div>
    <div class="col-12 order-5 order-sm-5 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-5.png" alt="icon-5.png">
      <p>Пятое преимущество</p>
    </div>
    <div class="col-12 order-6 order-sm-6 col-sm-12 col-md-6 col-lg-4 col-xl text-center">
      <img style="object-fit: contain; max-width: 82px;width: 100%;margin-bottom: 20px;" src="assets/img/lesson9/icon-6.png" alt="icon-6.png">
      <p>Шестое преимущество</p>
    </div>
  </div>
</div>
</body>