<!doctype html>
<html lang="ru">
{% include 'parts/meta.twig'%}
<body>
<h1>Домашки</h1>

<ul>
  <li><a href="lesson4.html">Домашнее задание №4</a></li>
  <li><a href="lesson5.html">Домашнее задание №5</a></li>
  <li><a href="lesson6.html">Домашнее задание №6</a></li>
  <li><a href="lesson7.html">Домашнее задание №7</a></li>
  <li><a href="lesson7-hard.html">Домашнее задание №7 Усложненное</a></li>
  <li><a href="lesson8.html">Домашнее задание №8</a></li>
  <li><a href="lesson9.html">Домашнее задание №9</a></li>
  <li><a href="lesson10.html">Домашнее задание №10</a></li>
  <li><a href="lesson11.html">Домашнее задание №11</a></li>
</ul>

</body>
</html>
