<!doctype html>
<html lang="ru">
{% include 'parts/meta.twig'%}
<body>
<h1>Домашки</h1>

<ul>
  <li><a href="practic.html">Практика</a></li>
  <li><a href="okna/index.html">Окна</a></li>
</ul>

</body>
</html>
