<!doctype html>
<html lang="en">
{% include 'parts/meta.twig' %}
{% block style %}
  <link rel="stylesheet" href="styles/main.css">
{% endblock %}

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<body>

{% include '../blocks/header/header.twig' %}



  {% include '../blocks/hero/hero.twig' %}


</body>
</html>