<!doctype html>
<html lang="en">
{% include 'parts/meta.twig' %}
{% block style %}
  <link rel="stylesheet" href="styles/vendor/owl.carousel.min.css">
  <link rel="stylesheet" href="styles/vendor/owl.theme.default.min.css">
{% endblock %}

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<body>

{% include '../blocks/header/header.twig' %}

{% include '../blocks/hero/hero.twig' %}

{% include '../blocks/offer/offer.twig' %}

{% include '../blocks/popup/popup.twig' %}

{% include '../blocks/portfolio/portfolio.twig' %}

{% include '../blocks/price/price.twig' %}

<div class="button-up js-btn-up"><span>Наверх</span></div>

<script src="scripts/vendor/jquery-3.4.1.min.js"></script>
<script src="scripts/vendor/owl.carousel.min.js"></script>
<script src="scripts/bundle.js"></script>

</body>
</html>