<div class="guarantee">
  <div class="container">
    <div class="guarantee__block">

      {% include '../title/title.twig' with {
        text: 'Все наши гарантийные обязательства подробно и&nbsp;прозрачно описаны в&nbsp;договоре',
        class: 'guarantee__title',
        subtitle: ''
      } %}

      <div class="guarantee__items">

        <div class="guarantee__item">
          <div class="guarantee__img">
            <img class="js-lazy" data-src="assets/img/practic/doc-1.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия на&nbsp;качество
            выполняемых работ
          </p>
        </div>
        <div class="guarantee__item">
          <div class="guarantee__img">
            <img class="js-lazy" data-src="assets/img/practic/doc-2.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия на&nbsp;фиксированные цены
            Виды работ и&nbsp;цены на&nbsp;них
            прописаны в&nbsp;договоре
          </p>
        </div>
        <div class="guarantee__item">
          <div class="guarantee__img">
            <img class="js-lazy" data-src="assets/img/practic/doc-3.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия на&nbsp;точное соблюдение
            сроков и&nbsp;ответственность за
            их&nbsp;невыполнение
          </p>
        </div>

      </div>


    </div>
  </div>
</div>