<div class="guarantee">
  <div class="container">
    <div class="guarantee__block">

      {% include '../title/title.twig' with {
        text: 'Все наши гарантийные обязательства подробно и прозрачно описаны в договоре',
        class: 'guarantee__title',
        subtitle: ''
      } %}

      <div class="guarantee__items">

        <div class="guarantee__item">
          <div class="guarantee__img">
            <img src="assets/img/practic/doc-1.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия на качество
            выполняемых работ
          </p>
        </div>
        <div class="guarantee__item">
          <div class="guarantee__img">
            <img src="assets/img/practic/doc-2.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия&nbsp;на&nbsp;фиксированные&nbsp;цены
            Виды работ и цены на них
            прописаны в договоре
          </p>
        </div>
        <div class="guarantee__item">
          <div class="guarantee__img">
            <img src="assets/img/practic/doc-3.jpg" alt="">
          </div>
          <p class="guarantee__text">
            Гарантия&nbsp;на&nbsp;точное&nbsp;соблюдение
            сроков и ответственность за
            их&nbsp;невыполнение
          </p>
        </div>

      </div>


    </div>
  </div>
</div>