{% set meta = {
  title: 'Домашки',
  description: '...',
  keywords: '...',
} %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>[L] {{meta.title}}</title>
  <meta name="description" content="{{meta.description}}">
  <meta name="keywords" content="{{meta.description}}">

  <meta name="theme-color" content="#9c2129">

  <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon/favicon-64.png" sizes="64x64">

  <link rel="preconnect" href="http://mc.yandex.ru">

  {% block style %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="styles/main.css">

  {% block scripts %}
  {% endblock %}
</head>
