<body class="body">

<div class="header">
  <span>Инструменты для макетирования</span>
</div>

<div class="main">
  <div class="main__item">
    <div class="main__wrap">
      <img src="../../assets/img/lesson7/item-1.jpg" alt="" class="main__img">
    </div>
    <span class="main__text">Резак 18 мм</span>
    <span class="main__price">от 500 руб.</span>
    <button class="main__btn">Купить</button>
  </div>
  <div class="main__item">
    <div class="main__wrap">
      <img src="../../assets/img/lesson7/item-2.jpg" alt="" class="main__img">
    </div>
    <span class="main__text">Резак 9 мм</span>
    <span class="main__price">от 100 руб.</span>
    <button class="main__btn">Купить</button>
  </div>
  <div class="main__item">
    <div class="main__wrap">
      <img src="../../assets/img/lesson7/item-3.jpg" alt="" class="main__img">
    </div>
    <span class="main__text">Коврик для резки</span>
    <span class="main__price">от 350 руб.</span>
    <button class="main__btn">Купить</button>
  </div>
  <div class="main__item">
    <div class="main__wrap">
      <img src="../../assets/img/lesson7/item-4.jpg" alt="" class="main__img">
    </div>
    <span class="main__text">Линейка</span>
    <span class="main__price">от 400 руб.</span>
    <button class="main__btn">Купить</button>
  </div>
</div>

</body>
