.header {
  width:           100%;
  max-width:       1170px;
  display:         flex;
  justify-content: space-between;
  color: #333333;
  font-weight: 400;

  @include w-to(1200px) {
    width: 96%;
    max-width: 950px;
  }
  @include w-to(992px) {
    width: 96%;
    max-width: 720px;
  }
  @include w-to(768px) {
    width: 96%;
    max-width: 520px;
  }
  @include w-to(567px) {
    width: 96%;
    max-width: 275px;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  &__logo {
    img {
      padding-top: 7px;
      @include w-to(567px) {
        max-width: 91px;
      }
    }
  }

  &__body {
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    @include w-to(567px) {
      padding-top: 2px;
    }

    .button-wrap {
      width: 170px;
      @include w-to(567px) {
        width: 137px;
      }
    }
  }

  &__text {
    padding-right: 30px;
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
      display: block;
    }
    @include w-to(768px) {
      display: none;
    }
  }

  &__city {
    font-size: 13px;
    font-family: "Museo Sans Cyrl -300", sans-serif;
    padding-bottom: 6px;
  }

  &__number {
    font-size: 20px;
    font-family: "Museo Sans Cyrl -700", sans-serif;
  }

  &__button {
    @include w-to(567px) {
      margin-top: 9px;
    }
  }
}