<header class="header">
  <div class="header__logo">
    <img src="assets/img/practic/logo.jpg" alt="logo">
  </div>

  <div class="header__body">
    <div class="header__text">
      <span class="header__city">Калуга, Москва, МО</span>
      <span class="header__number">+7 (495) 42-251-31</span>
    </div>

    {% include '../button/button.twig' with {
      text: 'Перезвоните мне',
      class: 'header__button js-open-popup'
    }%}
  </div>
</header>