.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.5);

  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;

  &_active {
    display: flex;
    animation: showElem 1s ease;
    animation-fill-mode: forwards;
  }

  &-dialog {
    margin: auto;
    max-width: 450px;
    width: 90%;
    min-width: 200px;
    background-color: white;
    padding: 40px;
    position: relative;
    transition: 1s;

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 25px;
    }
    &__title {

    }
  }
}