<div class="popup js-popup">
  <div class="popup-dialog">
    <button class="popup-dialog__close js-close-popup">&times;</button>
    <h4 class="popup-dialog__title">Всплывающее окно</h4>
  </div>
</div>